.card {
  font-family: "Noto Sans";
  margin-bottom: 2rem;
  position: relative;

  aspect-ratio: 4/5;
  /* margin: 0 1rem; */
}

.thumbnail {
  position: absolute;
  top: 0;
  right: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 1;
  display: block;
}

.card:hover {
  .thumbnail {
    display: none;
  }
}

.cardBody {
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 1rem;
  border: 1px solid white;
  overflow: auto;
  * {
    margin-bottom: 0.6rem;
  }
}

.stars {
  display: flex;
}
